@model IEnumerable<RdlNet2018.Common.Models.CareerInfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model)
{


    <div id="resumeContent">
        <div id="para">
            <h2>@item.FirstName @item.MiddleName @item.LastName, @item.Suffix</h2>
            <h6>@item.Address1, @item.City, @item.State @item.PostalCode</h6>
            <h6>@item.EmailAddress, @item.Phone, Mobile: @item.Mobile</h6>
            <hr />
            <h4>@item.CareerInfoTitle</h4>
            <hr />
            <p>@item.Summary</p>
        </div>
        <ul id="limheight">
            @foreach (var jobSkill in @item.JobSkills)
            {
                <li>@jobSkill.JobSkillTitle</li>
            }
        </ul>
        <hr />
        <ul>
            @foreach (var workHistory in item.WorkHistory)
            {
                <li class="empListing">@workHistory.Employer, @workHistory.StartDate.ToString("MMMM yyyy") - @workHistory.EndDate.ToString("MMMM yyyy")</li>
                <li class="jobTitle">@workHistory.JobTitle</li>
                <li class="jobDescription">@workHistory.JobDescription</li>
                <li class="noDotLi">
                    <ul>
                        @foreach (var workHistoryDetail in workHistory.WorkHistoryDetails)
                        {
                            <li class="workHistoryDetail">@workHistoryDetail.ContentBody</li>
                        }
                    </ul>
                </li>
                <hr />
            }
        </ul>
    </div>

}
